/* video {
  display: none;
}
canvas {
  display: none;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: scaleX(-1);
} */
input[type=file] {
  display: none;
}

.btn-box {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
