canvas {
	width: 100%;
	height: 100%;
	display: block;
}

video {
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}

.flex-container {
	position: relative;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.flex-container #main_scene {
	/* width: 64%; */
	height: 80vh;
	/* flex-shrink: 1; */
}

.flex-container .sider {
	width: 100vw;
	height: 20vh;
}

.flex-container .sider .animation-scene {
	display: inline-block;
	box-sizing: border-box;
}

.flex-container .sider .animation-scene.className {
	box-shadow: inset 0px 0px 2px 2px rgba(255, 255, 255, 0.3);
}

.training-bar {
	width: 100%;
	height: 40px;
}

.training-bar .exercise-block {
	border-right: 1px solid #ccc;
	display: inline-block;
	box-sizing: border-box;
	cursor: pointer;
}

.training-bar .exercise-block:last-child {
	border-right-width: 0;
}

/* #pose_scene {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 320px;
    height: 240px;
} */
