body {
	background-color: #00B4DB;
}

.container {
	position: relative;
	width: 100%;
	height: 100%;
	padding: 30px 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.container .panel {
	width: 35vw;
	height: 45vw;
	background-color: #0083B0;
	border-radius: 4px;
	overflow: hidden;
}

.container .panel canvas {
	width: 100%;
	height: 100%;
	display: block;
}

.container .middle {
	width: 9vw;
	height: 9vw;
	margin: 0 10px;
	border-radius: 4px;
}

.container .panel.motions {
	background: none;
}

.container .panel .animation-scene {
	display: inline-block;
	box-sizing: border-box;
	background-color: #022244;
	width: 8vw;
	height: 8vw;
	margin: 0 1vw 1vw 0;
	border-radius: 4px;
}

.container .panel .animation-scene.border {
	margin-right: 0;
}

/* .flex-container .sider .animation-scene.className {
	box-shadow: inset 0px 0px 2px 2px rgba(255, 255, 255, 0.3);
} */

.training-bar {
	width: 100%;
	height: 4vh;
	position: relative;
}

.training-bar .exercise-block {
	border-right: 1px solid #ccc;
	display: inline-block;
	box-sizing: border-box;
	cursor: pointer;
}

.training-bar .exercise-block:last-child {
	border-right-width: 0;
}

.training-bar .editor {
	position: absolute;
	width: auto;
	height: 40px;
	background-color: #ccc;
	top: -40px;
}

.training-bar .editor .num {
	width: auto;
	height: 30px;
	padding: 0 4px;
	margin: 5px;
	display: inline-block;
	color: #222;
	background-color: skyblue;
	font-size: 30px;
}

.training-bar .editor .btn {
	width: 30px;
	height: 30px;
	margin: 5px;
	display: inline-block;
	color: #fff;
	background-color: skyblue;
	font-size: 30px;
	cursor: pointer;
}

/* #pose_scene {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 320px;
    height: 240px;
} */
