.App {
  overflow: hidden;
  min-height: 100vh;
}
.App p {
  margin: 0;
}
.App li.clickable {
  cursor: pointer;
}
.App.light h1,
.App.light h2,
.App.light h3,
.App.light h4,
.App.light h5,
.App.light a,
.App.light span,
.App.light p,
.App.light i,
.App.light li,
.App.light label {
  color: #000;
}
.App.light .grenze {
  border-color: #000;
}
.App.light .pagination .page {
  border-color: #000;
}
.App.light .pagination .page.active span {
  color: #47b2f5;
}
.App.dark {
  background-color: #0F2027;
}
.App.dark h1,
.App.dark h2,
.App.dark h3,
.App.dark h4,
.App.dark h5,
.App.dark a,
.App.dark span,
.App.dark p,
.App.dark i,
.App.dark li,
.App.dark label {
  color: #e5e5e5;
}
.App.dark .grenze {
  border-color: #e5e5e5;
}
.App.dark .pagination .page {
  border-color: #e5e5e5;
}
.App.dark .pagination .page.active span {
  color: #47b2f5;
}
.App .nav {
  position: absolute;
  top: 0;
  width: 100%;
}
.App .nav .controls {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.App .nav .controls div {
  cursor: pointer;
  margin-right: 20px;
}
.App .main-content {
  position: relative;
  width: 80%;
  margin: 70px auto;
}
.App .pagination {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 10px;
}
.App .pagination .page {
  width: 32px;
  height: 32px;
  border: 1px solid;
  border-radius: 4px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.App .pagination .page:hover {
  opacity: 0.8;
}
.App .splide {
  padding-left: 0;
  padding-right: 0;
}
.tmp {
  color: #47b2f5;
  color: #44aa88;
  color: #474df5;
  color: #47f558;
  color: #f5f547;
  color: #fa7a35;
  color: #f547cc;
  color: #f54747;
  color: #f5ccb3;
}
