body {
  overflow: hidden;
}
.tmp {
  color: #47b2f5;
  color: #44aa88;
  color: #474df5;
  color: #47f558;
  color: #f5f547;
  color: #fa7a35;
  color: #f547cc;
  color: #f54747;
  color: #f5ccb3;
}
