.digital-trainer {
  overflow: hidden;
  margin: 0;
}
.digital-trainer .single-thumb .range-slider__thumb[data-lower] {
  width: 0;
}
.digital-trainer .single-thumb .range-slider__range {
  border-radius: 6px;
}
.digital-trainer .controls {
  position: absolute;
  min-width: 160px;
  right: 16px;
  bottom: 0;
  font-size: 20px;
}
.digital-trainer .controls > div {
  margin-bottom: 16px;
}
.digital-trainer .controls .buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.digital-trainer .controls .training-list i {
  font-size: 14px;
}
.digital-trainer .controls .training-list ul li {
  text-decoration: underline;
}
.digital-trainer .controls .training-list ul li:hover {
  opacity: 0.8;
}
.digital-trainer .controls .diff-score {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.digital-trainer .controls .diff-score .current-score {
  font-size: 24px;
}
.digital-trainer .controls .diff-score .set-score {
  margin: 0 10px;
}
.digital-trainer .controls .diff-score .slider {
  flex-grow: 1;
}
.digital-trainer .info {
  position: absolute;
  bottom: 10px;
  left: 0;
}
.digital-trainer .info .exercise-info {
  height: 30px;
  font-size: 24px;
  padding-left: 10px;
}
.digital-trainer .counter {
  position: absolute;
  width: 200px;
  height: 300px;
  top: 50%;
  left: 50%;
  margin: -150px 0 0 -100px;
  color: #2e9cdb;
  font-size: 200px;
  text-align: center;
}
.digital-trainer .congratulations {
  position: absolute;
  width: 600px;
  height: 100px;
  top: 50%;
  left: 50%;
  margin: -50px 0 0 -300px;
  color: #2e9cdb;
  font-size: 30px;
  text-align: center;
}
