.digital-trainer .single-thumb .range-slider__thumb[data-lower] {
  width: 0;
}
.digital-trainer .single-thumb .range-slider__range {
  border-radius: 6px;
}
.digital-trainer .controls {
  position: absolute;
  min-width: 200px;
  width: auto;
  right: 6vh;
  bottom: 6vh;
  font-size: 24px;
}
