.training-builder {
  margin: 100px auto 0;
  display: flex;
  flex-direction: column;
}
.training-builder .kasten {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.training-builder .kasten .panel {
  border-radius: 6px;
  position: relative;
}
.training-builder .kasten .panel.main {
  border: 1px solid #fff;
  cursor: pointer;
}
.training-builder .kasten .panel canvas {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  display: block;
}
.training-builder .kasten .panel .tabs {
  position: absolute;
  width: 100%;
  height: 40px;
  top: -50px;
  display: flex;
  flex-direction: row;
}
.training-builder .kasten .panel .tabs div {
  width: auto;
  height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  padding: 0 20px;
}
.training-builder .kasten .panel .motions .block {
  display: inline-block;
  box-sizing: border-box;
  margin: 0 10px 10px 0;
  border-radius: 6px;
  cursor: pointer;
}
.training-builder .kasten .panel .motions .block.fringe {
  margin-right: 0;
}
.synthesizer {
  width: 100%;
  height: 40px;
  position: relative;
  margin: 20px auto;
  border-radius: 6px;
  overflow: hidden;
  background-color: #ccc;
}
.synthesizer .exercise-block {
  display: inline-block;
  box-sizing: border-box;
  cursor: pointer;
  border-right: 20px solid #ccc;
}
.synthesizer .exercise-block:last-child {
  border-right-width: 0;
}
.actions {
  width: 100%;
  height: 40px;
  position: relative;
  margin: 20px auto 0;
  text-align: right;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.actions .num {
  width: auto;
  height: 30px;
  padding: 0 4px;
  margin: 5px;
  display: inline-block;
  color: #222;
  background-color: skyblue;
  border-radius: 6px;
  font-size: 30px;
}
.actions .btn {
  height: 30px;
  margin: 10px;
  padding: 0 10px;
  display: inline-block;
  color: #fff;
  background-color: skyblue;
  border-radius: 6px;
  font-size: 30px;
  cursor: pointer;
}
.actions button {
  font-size: 16px;
}
