.training-report .explain {
  margin: 10px 0 20px;
}
.training-report .basic-info {
  margin-bottom: 20px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.training-report .exercise-info {
  margin-bottom: 20px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.training-report .exercise-info span {
  margin-right: 10px;
}
.training-report .exercise-info .name {
  text-transform: capitalize;
}
