.App {
  text-align: center;
}

/* #home-map {
  height: 813px;
} */

canvas {
  transform: scaleX(-1);
}

video {
  /* -webkit-transform: scaleX(-1); */
  /* transform: scaleX(-1); */
  display: none
}