@light-color: #000;
@dark-color: #fff;

.App {

    overflow: hidden;
    min-height: 100vh;
    
    &.light {
        h1,h2,h3,h4,h5,a,span,p {
            color: @light-color;
        }
    }

    &.dark {
        background-color: #0F2027;

        h1,h2,h3,h4,h5,a,span,p {
            color: @dark-color;
        }
    }
}

.flex-row.nav {
    position: absolute;
    top: 0;
    right: 30px;
    
    a{
        font-size: 24px;
    }
}

.main-content {
    position: relative;
    width: 80%;
    margin: 70px auto;
}

// remove below styles
.btn-box {
    position: absolute;
    bottom: 0;
    right: 0;
}

.tmp {
    color: #47b2f5;
    color: rgb(68, 170, 136);
    color: rgb(71, 77, 245);
    color: rgb(71, 245, 88);
    color: rgb(245, 245, 71);
    color: rgb(250, 122, 53);
    color: rgb(245, 71, 204);
    color: rgb(245, 71, 71);
    color: #f5ccb3; // strand
}