.digital-trainer {
    .single-thumb .range-slider__thumb[data-lower] {
        width: 0;
    }
    .single-thumb .range-slider__range {
        border-radius: 6px;
    }

    .controls {
        position: absolute;
        width: 200px;
        right: 5vh;
        bottom: 5vh
    }
}