.digital-trainer {
    .single-thumb .range-slider__thumb[data-lower] {
        width: 0;
    }
    .single-thumb .range-slider__range {
        border-radius: 6px;
    }

    .controls {
        position: absolute;
        min-width: 200px;
        width: auto;
        right: 6vh;
        bottom: 6vh;
        font-size: 24px;
    }
}