.training-report {

    .explain {
        margin: 10px 0 20px;
    }

    .basic-info {

        div {
            margin-bottom: 4px;
        }
    }

    .exercise-info {
        margin-bottom: 20px;
        border-bottom: 1px solid;

        span {
            margin-right: 10px;
        }

        .name {
            text-transform: capitalize;
        }
    }
}